#Change to suite your needs

##################################
# Config

#Where you installed backup
@base                 = '/opt/backup'

# Executables locations
@s3cmd_exec           = "/opt/s3cmd/s3cmd"
@rsync_exec           = "/usr/bin/rsync"
@tar_exec             = "/bin/tar"
@rm_exec              = "/bin/rm"
@pg_dumpall_exec      = "/bin/pg_dumpall"
@mysqldump_exec       = "/usr/bin/mysqldump"
@mongodump_exec       = "/usr/bin/mongodump"

# File with password used to encrypt
@ecrypt_password_file = "#{@base}/config/PASSPHRASE"

# Where logs should be written to
@log_file_dir         = "#{@base}/log"

# Size in which to split the backup archives in megabytes
@backup_chunk_size = 100

# Name of your s3 bucket
@bucket = "s3://my.bucket.com/"

# Should we dump and back up your postgresql database
@backup_postgresql_dump          = true
@backup_postgresql_dump_user     = 'postgres'
@backup_postgresql_dump_password = nil

# Should we dump and back up your mysql database
@backup_mysql_dump          = true
@backup_mysql_dump_user     = 'root'
@backup_mysql_dump_password = nil

# Should we dump and back up your mongo database
@backup_mongodb_dump          = true
@backup_mongodb_dump_user     = 'root'
@backup_mongodb_dump_password = nil

# What to backup
@sources = [
  "/var/www",
  "/etc",
  "/root",
  "/usr/local",
  "/home"
]

# What to exclude from backups
@custom_excludes = [
  # Add your custom excludes here
]

# End config
##################################